name: Release NPM Package

on:
  release:
    types: [created]

jobs:
  publish-npr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Use Node.js 22
        uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: npm ci

      - name: Link lib
        run: npm link ./projects/password-strength-meter

      - name: Build - Lib
        run: npm run build:lib:prod

      - name: Publish package
        run: npm publish dist/password-strength-meter/ --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
